body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: #222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

.superiorinfo_bg {
  background: #122ab2;
  color: #fff;
}

.superiorinfo {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0 0;
  margin: 0 auto;
  max-width: 960px;
  flex-wrap: wrap;
}

.superiorinfo a {
  color: #fff;
}

.superiorinfo a,
.superiorinfo p {
  margin: 0 10px 10px 10px;
}

.menu_bg {
  background: #2c70ff;
}

.menu_logo {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 10px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 15px 0;
}

.menu a {
  color: #fff;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
}
.menu ul li a {
  padding: 10px;
  font-size: 1.25rem;
  display: block;
}

.menu ul li a:hover {
  color: #122ab2;
}

.introducao {
  max-width: 960px;
  margin: 0 auto;
  font-size: 3rem;
  line-height: 1;
  padding: 60px 10px;
}

.sobre {
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sobre_info h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.sobre_info p {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #7c7c7c;
  margin-bottom: 1.25rem;
}

.sobre_info {
  flex: 2 1 300px; /* grow, shrink e basis */
  margin: 0 10px;
}

.sobre_img {
  flex: 1 1 160px;
  margin: 0 10px;
}

.produtos h1,
.produtos h2 {
  font-size: 3rem;
}

.produtos h1 {
  margin: 0 0.625rem 3.75rem;
}
.produtos h2 {
  color: #7c7c7c;
  background: #f7f7f7;
  padding: 60px 20px;
}
.produtos_item.purple {
  border-top: 8px solid #ae81ff;
}
.produtos_item.red {
  border-top: 8px solid #f9265e;
}
.produtos_item.blue {
  border-top: 8px solid #66d9eb;
}

.produtos {
  max-width: 960px;
  margin: 60px auto;
}

.produtos_container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.produtos_item {
  flex: 1 1 175px;
  margin: 10px;
}
