body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: #222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

.superiorinfo_bg {
  background: #122ab2;
  color: #fff;
}

.superiorinfo {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0 0;
  margin: 0 auto;
  max-width: 960px;
  flex-wrap: wrap;
}

.superiorinfo a {
  color: #fff;
}

.superiorinfo a,
.superiorinfo p {
  margin: 0 10px 10px 10px;
}

.menu_bg {
  background: #2c70ff;
}

.menu_logo {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 10px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 15px 0;
}

.menu a {
  color: #fff;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
}
.menu ul li a {
  padding: 10px;
  font-size: 1.25rem;
  display: block;
}

.menu ul li a:hover {
  color: #122ab2;
}

.introducao {
  max-width: 960px;
  margin: 0 auto;
  font-size: 3rem;
  line-height: 1;
  padding: 60px 10px;
}

.sobre {
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sobre_info h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.sobre_info p {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #7c7c7c;
  margin-bottom: 1.25rem;
}

.sobre_info {
  flex: 2 1 300px; /* grow, shrink e basis */
  margin: 0 10px;
}

.sobre_img {
  flex: 1 1 160px;
  margin: 0 10px;
}

.produtos h1,
.produtos h2 {
  font-size: 3rem;
}

.produtos h1 {
  margin: 0 0.625rem 3.75rem;
}
.produtos h2 {
  color: #7c7c7c;
  background: #f7f7f7;
  padding: 60px 20px;
}
.produtos_item.purple {
  border-top: 8px solid #ae81ff;
}
.produtos_item.red {
  border-top: 8px solid #f9265e;
}
.produtos_item.blue {
  border-top: 8px solid #66d9eb;
}

.produtos {
  max-width: 960px;
  margin: 60px auto;
}

.produtos_container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.produtos_item {
  flex: 1 1 175px;
  margin: 10px;
}

.preco {
  background: #f7f7f7;
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.preco_item {
  flex: 1 1 300px;
  border: 4px solid #fff;
  padding: 20px;
  margin: 10px 20px;
  /* min-width: 300px; Esse valor funciona também no flex-basis*/
}

.preco_item h2,
.preco_item span {
  font-size: 3rem;
  font-weight: 700;
}

.preco_item h2 {
  color: #7c7c7c;
  text-align: center;
}

.preco_item span {
  display: block;
  max-width: 300px;
  margin: 20px auto;
  text-align: center;
  padding: 10px 0 5px 0;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
}

.preco_item sup {
  font-size: 1.5rem;
}

.preco_item ul {
  max-width: 300px;
  margin: 20px auto;
  font-size: 1.25rem;
  line-height: 1;
  font-style: italic;
  color: #7c7c7c;
}

.preco_item li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.preco_item li::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #2c70ff;
  border-radius: 50%;
}

.preco a {
  max-width: 300px;
  display: block;
  margin: 20px auto;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #222;
  border: 4px solid;
  padding: 15px 0;
}

@media (max-width: 750px) {
  .preco {
    padding-left: 10px;
    padding-right: 10px;
  }
  .preco_item:nth-child(3) {
    order: -2;
  }
  .preco_item:nth-child(2) {
    order: -1;
  }
}

.qualidade {
  max-width: 960px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
}

.qualidade_item {
  flex: 1 1 300px;
  margin: 20px 10px;
}

.qualidade_item h2 {
  font-size: 2.25rem;
  color: #7c7c7c;
  margin-bottom: 20px;
}

.qualidade_item h2::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 30px;
  margin-right: 10px;
  background: tomato;
}

.qualidade_item:nth-of-type(3n + 1) h2::before {
  background: #ae81ff;
}
.qualidade_item:nth-of-type(3n + 2) h2::before {
  background: #f9265e;
}
.qualidade_item:nth-of-type(3n + 3) h2::before {
  background: #66d9eb;
}

.qualidade_item p {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #383434;
}

.newsletter {
  background: #f7f7f7;
  padding: 60px calc((100% - 960px) / 2); /*Outra forma de manter o alinhamento*/
  display: flex;
  flex-wrap: wrap;
}

.newsletter_info {
  flex: 1 1 240px;
  margin: 0px 10px;
}

.newsletter_info h1 {
  font-size: 3rem;
  color: #7c7c7c;
}

.newsletter_info p {
  font-size: 1.25rem;
  color: #7c7c7c;
  font-style: italic;
  max-width: 230px;
}

.newsletter_form {
  flex: 2 1 200px;
  margin: 0 10px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}

.newsletter_form input {
  flex: 3 1 260px;
  font-size: 1.25rem;
  color: #7c7c7c;
  font-style: italic;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  background: transparent;
  border: 4px solid #2c70ff;
  padding: 10px 15px;
  margin: 0px;
  border-radius: 0px;
}

.newsletter_form button {
  flex: 1 1 200px;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  background: #2c70ff;
  color: #fff;
  cursor: pointer;
  border: 0px;
  padding: 10px 15px; /*Como possuem o mesmo alinhamento flex eles dividem o mesmo tamanho (button e input) */
}

@media (max-width: 600px) {
  .newsletter_form button {
    font-size: 1.5rem;
  }
}

.footer {
  height: 200px;
  background: #2c70ff;
  display: flex;
  align-items: center;
  /*justify-content: center; Ele não alinha ao centro quando utilizado com flex 1 no filho*/
}
.footer p {
  flex: 1;
  font-size: 2.25em;
  color: #08197c;
  text-align: center;
}
